<%= simple_form_for @torrent, :url => torrents_path, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize%> Torrent</legend>
  
  <div class="control-group required">
    <label class="required control-label required" for="torrent_file">File</label>
    <div class="controls">
      <input type="file" name="torrent[file]" id="torrent_file">
    </div>
  </div>  
  
  <div class="control-group required">
    <label class="required control-label required" for="torrent_url">Url</label>
    <div class="controls">
      <input type="text" name="torrent[url]" id="torrent_url">
    </div>
  </div>
  
  <%= f.association :category %>
  
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), torrents_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
