<%- model_class = Torrent.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table id="torrents" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Users</th>
      <th class="{sorter: 'date'}"><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Rates (Down / Up)</th>
      <th>Percent done</th>
      <th>Status</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @torrents.each do |torrent| %>
      <tr>
        <td><%= link_to torrent.name, torrent_path(torrent) %></td>
        <td><%= torrent.downloaders.collect { |d| d.user.username }.join(', ') %></td>
        <td><%= torrent.created_at.strftime("%d/m/%Y") %></td>
        <td><%= number_to_human_size torrent.rate_download %> / <%= number_to_human_size torrent.rate_upload %></td>
        <td><%= torrent.percent_done ? "#{torrent.percent_done.round(2)}%" : "" %></td>
        <td><%= torrent.status_message %></td>
        <td nowrap>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_torrent_path(torrent), :class => 'btn btn-mini' %>
          <%= link_to t('.start', :default => t("helpers.links.start")),
                      start_torrent_path(torrent),
                      :method => :post,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-success' %>
          <%= link_to t('.stop', :default => t("helpers.links.stop")),
                      stop_torrent_path(torrent),
                      :method => :post,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      torrent_path(torrent),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-inverse' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_torrent_path,
            :class => 'btn btn-primary' %>