<%- model_class = Torrent.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Users</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Download rate</th>
      <th>Upload rate</th>
      <th>Percent done</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @torrents.each do |torrent| %>
      <tr>
        <td><%= link_to torrent.name, torrent_path(torrent) %></td>
        <td><%= torrent.downloaders.collect { |d| d.user.username }.join(', ') %></td>
        <td><%=l torrent.created_at %></td>
        <td><%= number_to_human_size torrent.rate_download %></td>
        <td><%= number_to_human_size torrent.rate_upload %></td>
        <td><%= torrent.percent_done ? "#{torrent.percent_done}%" : "" %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_torrent_path(torrent), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      torrent_path(torrent),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_torrent_path,
            :class => 'btn btn-primary' %>
