<h1>Listing torrents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Info hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torrents.each do |torrent| %>
  <tr>
    <td><%= torrent.name %></td>
    <td><%= torrent.info_hash %></td>
    <td><%= link_to 'Show', torrent %></td>
    <td><%= link_to 'Edit', edit_torrent_path(torrent) %></td>
    <td><%= link_to 'Destroy', torrent, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torrent', new_torrent_path %>
