<%- model_class = @torrent.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @torrent.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:info_hash) %>:</strong></dt>
  <dd><%= @torrent.info_hash %></dd>
</dl>
<div id="div_script"></div>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th colspan="3">Files</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th></th>
  </tr>
  <% for file in @torrent.downloaded_files do %>
  <tr id="file_<%= file.id %>">
    <td><%= file.path %></td>
    <td><%= number_to_human_size file.length %></td>
    <td>
      <%= link_to 'Download', "/torrents/#{@torrent.id}/downloaded_files/#{file.id}/download/#{file.file_name}", :class => 'btn btn-primary btn-mini', :id => "dl_file_#{file.id}" %>
      <% if file.is_archive? %>
      <%= link_to 'Extract', extract_torrent_downloaded_file_path(@torrent, file), :class => 'btn btn-mini' %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th colspan="3">Extracted Files</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th></th>
  </tr>
  <% for file in @torrent.extracted_files do %>
  <tr>
    <td><%= file.path %></td>
    <td><%= number_to_human_size file.length %></td>
    <td><%= link_to 'Download', "/torrents/#{@torrent.id}/extracted_files/#{file.id}/download/#{file.file_name}", :class => 'btn btn-primary btn-mini',  :id => "dl_file_#{file.id}" %></td>
  </tr>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              torrents_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_torrent_path(@torrent), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              torrent_path(@torrent),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
